.pageRoot {
  display: flex;
  justify-content: center;
  padding: 30px;
  height: 100vh;
  overflow: hidden;
  box-sizing: border-box;
}

.pageContentContainer {
  width: 1300px; /* Increased from 1024px */
  display: flex;
  flex-direction: column;
  height: calc(100% - 60px);
  box-sizing: border-box;
}

.usersList {
  border: 1px solid #ccc;
 
  border-radius: 4px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #909196;
  overflow: hidden;
  box-sizing: border-box;
}

.usersListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ccc;
  border-radius: 4px 4px 0 0;
  padding: 12px;
  background-color: #1f2a62;
  color: white;
  box-sizing: border-box;
}

.usersListContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-inline-start: 30px;
  background-color: #909196;
  overflow: hidden;
  box-sizing: border-box;
}

.userRow {
  background-color: #909196;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  position: relative;
  height: 64px;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}